@statusbar_size: 38px;
@sb_panel_size: @statusbar_size - 14px;
@sb_font_size: @sb_panel_size - 8px;

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box !important;
}

html{
  height: 100vh;
}

body{
  height: 100%;
  overflow: hidden;
}

div#toast {
  top: 0;
  width: 80%;
  margin: 0 10%;
  padding: 4px;
  position: absolute;
  z-index: 1;
  opacity: 0.99;
}
div#container {
  margin: 16px;
  height: calc(~"100vh - " @statusbar_size * 2);
}

div#editorui {
  height: 100%;
  font-size: 10pt;
  .role_static{
    cursor: move;
    background: url('../node_modules/slickgrid/images/header-columns-bg.gif') repeat-x center bottom;
    background-color: aliceblue;
  }
  .role_boolean{
    text-align: center;
  }
  input {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    float: left;
    background: transparent;
  }
}

/* StatisBar */

footer#statusbar {
  position: absolute;
  width: 100%;
  height: @statusbar_size;
  border: 1px ridge buttonshadow;
  bottom: 0px;
  div {
    border: 1px ridge buttonshadow;
    height: @sb_panel_size;
    margin: 2px;
    padding: 4px;
    font-size: @sb_font_size;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &#sb_status {
      width: calc(~"100% - 180px");
    }
    &#sb_aggregates {
      width: 152px;
    }
  }
}

/* Dialog */

dialog {
  margin: auto;
  padding: 8px;
  box-shadow: 4px 4px 4px 4px gray;
  border-radius: 16px 16px;

  label, input, select{
    display: block;
  }
  
  input, select {
    margin-left: 1em;
    margin-bottom: 8px;
    padding: 0.5ex;
  }
  
  #dlg-columns_errormsg{
    visibility: hidden;
  }
}
